<ul class="nav nav-pills">
  <li role="presentation" <%= selected == "index" ? 'class=active': '' %> ><%= link_to "Dashboard", streams_path %></li>
  <li role="presentation" <%= selected == "new" ? 'class=active': '' %> ><%= link_to "New Stream", new_stream_path %></li>
</ul>
<br /><br />
