<!DOCTYPE HTML>
<html>
  <head>
    <title>BeMyTV</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  </head>
  <body>
      <div id="wrapper"></div>
      <div id="overlay"></div>
      <div class="signup-form">
        <div class="signup-form-wrap">
          <div class="main-signup-form">
            <a href="/beta_signup"><h1>BeMyTv</h1></a>
            <h2>Monetize your live experiences</h2>
            <h3>Ever wish you could have attended that conference, visited that vacation spot, or just been there? Now you can.</h3>
            <h4>Pick a stream, any stream.</h4>
            <h4>Find exclusive experiences.</h4>
            <h4>Never miss a moment.</h4>
          </div>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
      <script>
      $(document).ready(function() {
        function style() {
          $('.main-signup-form').css({
            position: 'relative',
            top: ($(window).height() / 2) - ($('.main-signup-form').height() / 2)
          })
        }
        style();
        $(window).resize(style);

        $('h3').animate({
          opacity: 1,
        },1000);
        var count = 1;
        $('h4').each(function() {
          $(this).delay(500 * count).animate({
            opacity: 1,
          },1000)
          count++;
        })

      });
      </script>
  </body>
</html>
