// Place all the styles related to the beta_signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Roboto;
  color: white;
  min-width: 768px;
  overflow: auto;
}
#wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px; left: 0px;
  background: url('/assets/images/bg.jpeg') center / cover;
  z-index: 0;
}
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px; left: 0px;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.signup-form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px; left: 0px;
  z-index: 2;
}
.main-signup-form {
  width: 768px;
  padding: 15px;
  margin: auto;
  box-sizing: border-box;
  background: rgba(0,0,0,0.5);
  border-radius: 32px;
}
h1, h2 {
  text-align: center;
}
#mce-EMAIL {
  width: calc(468px - 20px);
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 6px;
  color: black;
  font-size: 24px;
  padding: 10px;
  font-family: Roboto;
}
#mc-embedded-subscribe {
  display: block;
  margin: 12px auto;
  width: 468px;
  text-align: center;
  font-size: 24px;
  border-radius: 6px;
  background: #0094FF;
  border: none;
  border-bottom: 5px solid #0071C1;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-family: Roboto;
}
#mc-embedded-subscribe:hover {
  background: #0071C1;
  border-bottom: 5px solid #005A96;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
}
