// Place all the styles related to the beta_signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Roboto;
  color: white;
  min-width: 768px;
  overflow: auto;
}
